.mtte .gameicon {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  margin: 2px;
}

.mtte .gameicon img {
  object-fit: contain;
  border: none;
}

.mtte .gameicon .name {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border: 1px solid black;
}

.mtte .gameicon .author {
  display: none;
  font-size: small;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: white;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border: 1px solid black;
  font-style: italic;
}

.mtte .options input[type="color"] {
  max-width: 44px !important;
  max-height: 20px !important;
  margin: 0px;
  border: 0px;
}

.mtte .options a {
  margin-left: 3px;
}

.mtte .color {
  margin-left: 7px;
  width: 70px !important;
  height: 20px !important;
}

.mtte .options button {
  width: inherit;
}

.mtte .options select{
  margin-left: 30px;
  max-height: 20px;
}

.mtte .deletePreset {
  visibility: hidden;
}
